body {
  color: #4e5983;
}
.nav a,
.navbar-nav a {
  color: #4e5983 !important;
}
/*навигация*/
.nav-padding-outside-left {
  padding-left: 100px;
}
.nav-padding-outside-right {
  padding-right: 100px;
}
.bg-registation {
  background-color: #a17fff;
}

/*секция калькулятор*/
.calculator {
  background-color: #a17fff;
  padding-top: 116px;
  background: url('/images/calculator/calculator_form.png') 50% 100% no-repeat,
    url('/images/calculator/calculator_fon.png') center no-repeat;
  background-size: auto, cover;
  min-height: 754px;
}
.calculator .ts-header {
  font-size: 3.5rem;
}

/*секция бонус*/
.bonus .image {
  height: 170px;
}

.bonus .image img {
  object-fit: cover;
  height: 100%;
}

/*секция история*/
.history {
  background: url('/images/history/history_bg.png') center top no-repeat,
    linear-gradient(to bottom, #ffffff 50%, #c5dde8 50%);
  background-size: auto;
  min-height: 588px;
  padding-top: 100px;
}

/*карусель отзывы*/
.voice {
  position: relative;
}
.voice .item {
  background: url('/images/slider/slider_item.png') left top no-repeat;
  padding-top: 30px;
}

.voice .carousel-control-prev_ar {
  position: absolute;
  bottom: -13px;
  right: 90px;
}
.voice .carousel-control-next_ar {
  position: absolute;
  bottom: -13px;
  right: 0;
}
.voice .carousel-control-prev-icon {
  background: url('/images/slider/array_prev.jpg') center no-repeat;
  background-size: cover;
  width: 40px;
  height: 16px;
}
.voice .carousel-control-next-icon {
  background: url('/images/slider/array_next.jpg') center no-repeat;
  background-size: cover;
  width: 72px;
  height: 16px;
}
